DevExpress.*.dll
*.log
System.*.dll
VietRauERPUpdater.exe
VietRau.Win.exe.config
LogonParameters
DocumentFormat.OpenXml.dll
zxing.dll
Fasterflect.dll
Mono.Cecil.dll
System.dll
Newtonsoft.Json.dll
AForge.Imaging.dll
AForge.Math.dll
AForge.dll
AppDomainToolkit.dll
BouncyCastle.Crypto.dll
FileList.txt
Google.*.dll
IronBarCode.dll
IronBarCode.xml
UploadFileUpdate.exe
VietRau.Win.vshost.exe
VietRau.Win.vshost.exe.config
VietRau.Win.vshost.exe.manifest
token.json
credentials.json
credentials.json
GitCommand.exe
GitPushReleased.exe
VietRauDownloader.exe
*.pdb
*.xml
vi2/
de/
es/
ja/
ru/
ExportPDF/